@charset "UTF-8";

#loginform{
    margin: 0 auto;
     width: 220px;
     height: 350px;
     position: relative;
}

#userID, #userPW{
    height: 35px;
    width: 214px;
}

#idbox,#pwbox{
    margin: 10px 0px;
    width: 214px;
}

#GuestLoginBox,#OwnerLoginBox{
    margin: 10px 0px;
    position: absolute;
}

#OwnerLoginBox{
    right: 0;
}

#generalLogin,#ownerLogin{
    padding: 10px;
}