@charset "UTF-8";

/* writing */

.menuInfo, .cafeInfo{
    display: inline-block;
    font-size: .9rem;
    color: #4f4f4f;
    line-height: 1.7;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 5px;
}
#cafeName{
    margin-bottom: 4px;
}
main{
    margin: 0 auto;
    width: 800px;
    position: relative;
}
#intro{
    margin-left: 50px;
}
#adr{
    margin-left: 117px;
}
#number{
    margin-left: 90px;
}
#price{
    margin-left: 101px;
}
#parking{
    margin-left: 115px;
}
#hours{
    margin-left: 86px;
}
#break{
    margin-left: 88px;
}
.viewImg{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-left: 3px;
    overflow:hidden;
   	transform: scale(1);
  	-webkit-transform: scale(1);
}
.viewImg:hover,viewCafeImg:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.7);
}

.menuDesc{
    margin-bottom: 5px;
    margin-top: 5px;
}

.viewCafeImg{
    max-width: 242px;
    max-height: 223px;
}


#slidBtn{
    z-index: 1;
    position: absolute;
    right: -15px;
    color: gray;
    top: 125px;
    font-size: 26px;
}
article{
    position: relative;
    width: 1000px;
    height: auto;
}

#heart{
	position: absolute;
    right: 0px;
    font-size: 40px;
    top: -8px;
    color: gray;
}
